.VendingMachine {
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100vh;
     /* Ensure the background covers the entire viewport */
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     /* Center the text horizontally */
}

.VendingMachine-contents {
     background-color: rgba(255, 255, 255, 0.3);
     /* Add a semi-transparent background to make the text more readable */
     padding: 20px;
     border-radius: 10px;
     width: 100%;
}

.vending-machine-title {
     text-shadow: gray 2px 2px 2px;
     font-size: 3rem;
     /* Adjust the font size as needed */
}

h1 span {
     display: block;
     /* Make the span element a block-level element */
}

.link {
     text-shadow: gray 2px 2px 2px;
     color: white;
     text-decoration: none;
     /* Remove underline from links */
}

.links {
     display: flex;
     justify-content: space-evenly;
}